:root{
    --colorMain: #3C8DBB;
    --colorMainBlack: #367FA6;
    --colorSecundary: #2D3C42;
    --colorSecundaryBlack: #222D30;
    --colorRed: #DA4E3B;
    --colorWhite: #ffffff;
}

a{
    color: colorWhite;
    text-decoration: none;
}

.navigation{
    width: 167px;
    height: 100vh;
    /* height: calc(100vh - 58px); */
    height: 100%;
    background-color: var(--colorSecundaryBlack);
}

.navigation__logo{
    background-color: var(--colorMainBlack);
    padding: 20px;
    color: var(--colorWhite);
}
.navigation__links{
    background-color: var(--colorSecundaryBlack);
     /* height: calc(100vh - 58px); */
     height: auto;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.navigation__link{
    color: var(--colorWhite);
    text-decoration: none;
    /* position: relative; */
}

.navigation__link:hover{
    color: white;
}
.navigation ul li img{
    color: colorWhite;
}

.navigation ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
    /* margin: 20px 0px; */
    width: 100%;
}

.navigation ul li{
   /*  display: flex;
    align-items: center;
    gap: 8px; */
    padding: 7px 0px;
}

.navigation ul li:hover{
    background-color: var(--colorSecundary);
}

.bg-link{
    background-color: var(--colorSecundary);
    border-left: 5px solid green;
}
.navigation__content{
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0px 15px;
}
.navigation__content button{
    background-color: transparent;
    border: none;
}

.hidden-text{
    display: none;
}
.btn-maxmin{
    color: var(--colorWhite);
    background-color: transparent;
    border: none;
    font-size: 25px;
    text-align: center;
   /*  position: absolute;
    bottom: 0;
    margin: auto; */
}
.btn-maxmin:hover{
    background-color: var(--colorSecundary);
}